body{
  font-family: 'Muller';
  overflow-x: hidden;
}
/* хром, сафари */
body::-webkit-scrollbar { width: 0; }

/* ie 10+ */
body { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
body { overflow: -moz-scrollbars-none; }
.cf:before,
.cf:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf:after {clear: both;}
.cf {zoom: 1;}
.header{
  padding-top: 40px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
  &-music{
    position: absolute;
    right: -70px;
    top: 5px;
    cursor: pointer;
  }
  &-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  &-logo{
    width: 15%;
    img{
      padding-left: 8px;
    }
  }
  &-menu{
    width: 50%;
    nav{
      display: flex;
      width: 100%;
      align-items: flex-start;
      padding-left: 81px;
      padding-top: 18px;
    }
    &__link{
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      display: block;
      text-decoration: none;
      margin-right: 40px;
      &:nth-last-child(1){
        margin-right: 0;
      }
    }
  }
  &-lang{
    width: 15%;
    &__list{
      padding-left: 25px;
      padding-top: 18px;
    }
    &__link{
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
      color: #000000;
      text-decoration: none;
      padding-right: 10px;
      &:nth-last-child(1){
        padding-right: 0;
      }
    }
  }
  &-site{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    a{
      span{
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height */
        text-decoration-line: underline;
        color: #000000;
        margin-right: 15px;
      }
    }
  }
}
.main{
  background: #fff;
  position: relative;
  height: 100vh;
  &-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-bottom{
    background: #171717;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 102px;
  }
  &-line{
    position: absolute;
    left: 3.5%;
    bottom: 0;
  }
}
.service{
  &-container{
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
  }
  &-title{
    text-align: right;
    padding-top: 77px;
    padding-right: 9px;
    &__text{
      font-weight: 800;
      font-size: 48px;
      text-transform: uppercase;
      color: #171717;
    }
  }
  &-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 59px;
  }
  &-card{
    border: 5px solid #171717;
    .card-title{
      &__text{
        font-weight: bold;
        font-size: 27px;
        line-height: 116%;
        color: #000000;
      }
    }
    .card-list{
      list-style: url(../img/dots.svg);
      margin-top: 6px;
      padding-left: 11px;
      li{
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 8px;
        color: #000000;
      }
    }
  }
  .card-1{
    width: 327px;
    height: 448px;
    padding: 19px 41px;
  }
  .card-2{
    width: 312px;
    height: 186px;
    padding: 19px 59px;
    position: relative;
    top: 44px;
    left: 3px;
  }
  .card-3{
    width: 380px;
    height: 216px;
    position: relative;
    left: 9px;
    top: 23px;
    padding: 19px 21px;
    margin-left: 0;
    .card-title{
      &__text{
        padding-left: 30px;
        padding-top: 13px;
      }
    }
    .card-list{
      padding-left: 47px;
    }
  }
  .card-4{
    width: 323px;
    height: 184px;
    margin-left: 426px;
    margin-top: -203px;
    .card-title{
      &__text{
        padding-left: 30px;
        padding-top: 25px;
      }
    }
    .card-list{
      padding-left: 47px;
    }
  }
  .card-5{
    width: 412px;
    height: 251px;
    margin-top: -204px;
    margin-left: 7px;
    .card-title{
      &__text{
        padding-left: 30px;
        padding-top: 25px;
      }
    }
    .card-list{
      padding-left: 47px;
    }
  }
  .card-6{
    width: 671px;
    height: 204px;
    margin-top: -50px;
    margin-left: 67px;
    .card-title{
      &__text{
        padding-left: 30px;
        padding-top: 25px;
      }
    }
    .card-list{
      padding-left: 47px;
    }
  }
  .card-7{
    width: 532px;
    height: 102px;
    margin-left: 10px;
    margin-top: 6px;
    .card-title{
      &__text{
        padding-left: 16px;
        padding-top: 22px;
      }
    }
    .card-list{
      padding-left: 29px;
      margin-top: 13px;
    }
  }
  &-line{
    margin-top: 58px;
    position: relative;
    &__text{
      font-weight: 800;
      font-size: 60px;

      text-transform: uppercase;

      color: #000000;
    }
    .marquee-line {
      position: absolute;
      top: 17px;
    }
    .marquee-white{
      color: #ffffff;
    }
    &__block{
      max-width: 1300px;
      height: 83px;
      background: #000;
      display: block;
      width: 100%;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }
}
.about{
  padding-top: 150px;
  position: relative;
  div {
    position: relative;
    z-index: 2;
  }
  &:before{
    width: 59%;
    height:  2265px;
    background: #ffffff;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 0;
  }
  &-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
  }
  &-title{
    &__text{
      font-weight: 800;
      font-size: 48px;
      text-transform: uppercase;

      color: #171717;
    }
  }
  &-content{
    max-width: 550px;
    margin-top: 74px;
    float: left;
    &__title{
      span{
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        text-transform: uppercase;
        color: #171717;
      }
    }
    &__desc{
      margin-top: 28px;
      span{
        font-size: 20px;
        line-height: 140%;
        color: #000000;
      }
    }
  }
  &-master{
    float: left;
    width: 750px;
    display: flex;
    flex-direction: column;
    &__img{
      margin-left: auto;
    }
    &__title{
      width: 310px;
      margin-left: auto;
      margin-top: 40px;
      .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #171717;
      }
      .role{
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        color: #171717;
      }
    }
    &__desc{
      width: 310px;
      margin-left: auto;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      color: #171717;
      margin-top: 29px;
    }
    &-partners{
      width: 100%;
      float: left;
    }
  }
  &-partners{
    display: flex;
    flex-direction: row;
    width: 963px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -327px;
    float: left;
    &__content{
      flex: 1;
      border-top: 1px solid #171717;
      padding-top: 38px;
      padding-right: 20px;
    }
    &__title{
      width: 310px;
      margin-left: auto;
      text-align: right;
      .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #171717;
      }
      .role{
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        color: #171717;
      }
    }
    &__desc{
      width: 458px;
      margin-left: auto;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      color: #171717;
      margin-top: 29px;
      text-align: right;
    }
  }
}
.keys{
  margin-top: 200px;
  position: relative;
  &-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  &-row{
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  &-logo{
    width: 250px;
    &__slider{
      width: 100%;
      .logo-slide{
        width: 100%;
        text-align: center;
        margin-bottom: 65px;
      }
    }
  }
  &-content{
    flex: 1;
    &__slider{
      max-width: 1080px;
      overflow: hidden;
      .custom-scroll{
        right: 33% !important;
        background: #000000;
        border-radius: 0;
        width: 2px !important;
      }
      .swiper-scrollbar-drag{
        background: rgb(0 0 0);
        border-radius: 0;
        left: -7px;
        top: 0;
        width: 16px;
      }
      .content-slide{
        margin-bottom: 0;
        &__wrapper{
          display: flex;
          align-items: center;
          height: 100%;
          .slider-img{
            width: 60%;
            img{
              max-width: 100%;
            }
          }
          .slider-content{
            flex: 1;
            padding-left: 134px;
            .content-title{
              font-size: 19px;
              line-height: 23px;
              text-transform: uppercase;
              color: #171717;
            }
            .content-link{
              margin-top: 38px;
              a{
                font-weight: 300;
                font-size: 16px;
                line-height: 16px;
                color: #171717;
                text-decoration: none;
                display: block;
                position: relative;
                width: max-content;
                &:hover{
                  &:before{
                    width: 100%;
                  }
                }
                &:before{
                  width: 0;
                  height: 3px;
                  display: block;
                  background: #171717;
                  transition: all 0.4s;
                  content: '';
                  position: relative;
                  top: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
  &-title{
    position: absolute;
    right: 106px;
    top: -15px;
    &__text{
      font-weight: 800;
      font-size: 48px;
      line-height: 128.5%;
      text-transform: uppercase;
      color: #171717;
      text-align: left;
    }
  }
}
.reviews{
  position: relative;
  margin-top: 70px;
  &-title{
    width: 100%;
    text-align: center;
    &__text{
      font-weight: 800;
      font-size: 48px;
      text-transform: uppercase;

      color: #171717;
    }
  }
  &-had{
    position: absolute;
    left: 0;
    top: 109px;
  }
  &-list{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 112px;
  }
  &-row{
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(36% - 30px);
  }
  &-item{
    display: flex;
    flex-flow: row wrap;
    width: calc(50% - 30px);
    align-items: center;
    margin-bottom: 68px;
    margin-right: 15px;
    .item-img{
      flex-basis: 82px;
    }
    .item-text{
      flex: 1;
      padding-left: 18px;
      padding-top: 10px;
    }
  }
}
.work{
  background: url("../img/work-bg.jpg") center center;
  padding-bottom: 133px;
  margin-top: 50px;
  &-title{
    text-align: center;
    padding-top: 91px;
    &__text{
      font-weight: 800;
      font-size: 48px;
      line-height: 128.5%;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  &-list{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  &-item{
    position: relative;
    &:before{
      content: attr(data-id);
      font-weight: 500;
      font-size: 72px;
      text-transform: capitalize;
      color: #FFFFFF;
      writing-mode: vertical-rl;
      position: absolute;
      transform: rotate(180deg);
      left: -85px;
      top: 42%;
    }
    &__content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .content-title{
        width: 400px;
        font-weight: 800;
        font-size: 35px;
        line-height: 128.5%;
        text-transform: uppercase;
        color: #000000;
      }
      .content-desc{
        width: 500px;
        font-size: 20px;
        line-height: 128.5%;
        /* or 26px */


        color: #000000;
      }
    }
  }
  &-wrapper{
    margin-top: 76px;
    .item-1{
      left: -15px;
      .content-title{
        padding-left: 68px;
      }
      .content-desc{
        width: 404px;
        position: relative;
        top: -6px;
        left: -10px;
      }
    }
    .item-2{
      margin-top: -19px;
      right: -53px;
      .work-item__content{
        flex-direction: row-reverse;
        .content-title{
          text-align: right;
          padding-right: 86px;
          width: 324px;
        }
      }
    }
    .item-3{
      margin-top: -15px;
      left: -14px;
      .content-title{
        padding-left: 68px;
        position: relative;
        top: 13px;
      }
      .content-desc{
        width: 404px;
        position: relative;
        top: 13px;
        left: -10px;
      }
    }
    .item-4{
      position: relative;
      right: -55px;
      margin-top: -9px;
      .work-item__content{
        flex-direction: row-reverse;
        .content-title{
          text-align: right;
          padding-right: 86px;
          width: 324px;
        }
      }
    }
    .item-5{
      left: -15px;
      margin-top: -23px;
      .content-title{
        padding-left: 68px;
        position: relative;
        top: 13px;
      }
      .content-desc{
        width: 404px;
        position: relative;
        top: 13px;
        left: -10px;
      }
    }
  }
}

.big-bg{
  background: url("../img/big-bg.jpg") center center;
}

.document{
  height: 479px;
  background: #E72F75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title{
    width: 35%;
    text-align: right;
    padding-right: 35px;
    &__text{
      font-weight: 800;
      font-size: 35px;
      line-height: 128.5%;
      /* or 45px */

      text-align: right;
      text-transform: uppercase;

      color: #171717;
    }
  }
  &-img{
    width: 65%;
    img{
      margin-left: auto;
      display: block;
    }
  }
}
.phone{
  height: 541px;
  background: #373737;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-title{
    width: 40%;
    text-align: left;
    &__text{
      font-weight: 800;
      font-size: 35px;
      line-height: 128.5%;
      /* or 45px */

      text-align: left;
      text-transform: uppercase;

      color: #FFFFFF;
    }
  }
  &-img{
    width: 60%;
    img{
      margin-right: auto;
      display: block;
    }
  }
}

.contact{
  padding-top: 150px;
  padding-bottom: 30px;
  &-container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  &-row{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  &-wrapper{
    width: 40%;
  }
  &-img{
    width: 60%;
  }
  &-title{
    &__text{
      font-weight: 800;
      font-size: 48px;
      line-height: 128.5%;
      text-transform: uppercase;
      color: #171717;
    }
  }
  &-block{
    margin-top: 91px;
    .block-title{
      &__text{
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        color: #171717;
      }
    }
    .block-wrap{
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      a{
        font-size: 20px;
        line-height: 140%;
        color: #171717;
        margin-bottom: 10px;
        text-decoration: none;
        &:nth-last-child(1){
          margin-bottom: 0;
        }
      }
    }
  }
  &-form{
    margin-top: 91px;
    .form-title{
      &__text{
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        color: #171717;
      }
    }
    .form-desc{
      margin-top: 11px;
      &__text{
        font-size: 16px;
        line-height: 140%;
        color: #474747;
      }
    }
    .form-wrapper{
      margin-top: 23px;
      .form-input{
        margin-bottom: 3px;
        input{
          width: 389px;
          font-size: 20px;
          line-height: 20px;
          color: #171717;
          border: 0;
          border-bottom: 1px solid #171717;
          padding-bottom:6px;
          padding-top: 9px;
          &::placeholder{
            font-size: 20px;
            line-height: 20px;
            color: #171717;
          }
        }
      }
      .form-submit{
        margin-top: 42px;
        button{
          font-weight: 700;
          font-size: 16px;
          color: #171717;
          padding: 0;
          margin: 0;
          background: transparent;
          border: 0;
          position: relative;
          width: max-content;
          &:before{
            width: 0%;
            height: 5px;
            background: #171717;
            display: block;
            content: '';
            position: relative;
            top: -5px;
            transition: all 0.4s;
          }
          &:hover{
            &:before{
              width: 100%;
            }
          }
        }
      }
    }
    .form-policy{
      margin-top: 24px;
      &__text{
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        color: #979797;
        a{
          color: inherit;
        }
      }
    }
  }
  &-img{
    display: flex;
    justify-content: flex-end;
    padding-top: 45px;
  }
  &-privat{
    margin-top: 94px;
  }
}
@import "popupKeys";
@import "media";